* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
}

.logo {
  font-weight: 600;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
}

.menu {
  display: none;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
              url("images/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  color: white;
}

.hero-content p {
  color: #e5e7eb;
  margin: 15px 0;
}

.btn {
  padding: 12px 30px;
  background: #eab308;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

/* SECTIONS */
.section {
  padding: 90px 20px;
  text-align: center;
}

.gray {
  background: #f1f5f9;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: white;
  width: 300px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 15px;
  margin-top: 30px;
}

.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* PRODUCT */
.product {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product img {
  width: 320px;
  border-radius: 12px;
}

/* FORM */
form {
  max-width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea, button {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #0f172a;
  color: white;
  border: none;
}

/* FOOTER */
footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media(max-width:768px){
  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #0f172a;
    width: 200px;
    flex-direction: column;
  }
  nav a {
    padding: 10px;
  }
  .menu {
    display: block;
  }
}
